$wobbleTime: .2s;
$fontSize: 18em;

.wobblyText {
	line-height: 1;
	font-weight: bold;
	font-size: $fontSize;
	margin: 0;
	letter-spacing: +.1em;
	text-shadow: .04em .035em 0 rgba( 0, 0, 0, .7);
	span {
		position: relative;
		top: 0;
		left: 0;
		transition: all $wobbleTime;
	}
}

//positioner
.contCentre {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0);
}

//background
body {
	background-color: lightblue;
	color: white;
}